<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="iisnode" />
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>
    
    <rewrite>
      <rules>
        <rule name="StaticContent" stopProcessing="true">
          <match url="^^public/(.*^)$" />
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
        
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    
    <iisnode 
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      watchedFiles="*.js;iisnode.yml"
      loggingEnabled="true"
      devErrorsEnabled="false"
      debuggingEnabled="false"
      logDirectory="iisnode"
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250"
    />
    
    <httpErrors existingResponse="PassThrough" />

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
