<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="iisnode" />
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>

    <rewrite>
	<rules>
    <rule name="RedirectPort6001ToHttpsCanonical" stopProcessing="true">
    <match url="(.*)" />
    <conditions>
    <add input="{HTTP_HOST}" pattern="^([^:]+):6001$" />
    </conditions>
    <action type="Redirect" url="https://{C:1}/{R:1}" redirectType="Permanent" />
    </rule>
        <rule name="NextStatic" stopProcessing="true">
          <match url="^^_next/static/(.*^)$" />
          <action type="Rewrite" url=".next\static\{R:1}" />
        </rule>

        <rule name="PublicAssets" stopProcessing="true">
          <match url="^^public/(.*^)$" />
          <action type="Rewrite" url="public\{R:1}" />
        </rule>

        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <serverVariables>
            <set name="HTTP_X_FORWARDED_FOR" value="{REMOTE_ADDR}" />
          </serverVariables>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      watchedFiles="*.js"
      loggingEnabled="true"
      devErrorsEnabled="true"
      debuggingEnabled="false"
      logDirectory="iisnode"
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250"
      promoteServerVars="REMOTE_ADDR,HTTP_X_FORWARDED_FOR"
    />

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
  </system.webServer>
</configuration>
